body{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    

}

header{
    text-align: center;
    height: 110px;

}
header h1{
    
    font-size: 100px;
}
#imagen1 img{
    object-fit: cover;
    width: 100%;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    height: auto;
    margin: 50px;

}

.textMain{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: justify;

}
article {
    background-color:#1E1A13;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    
.caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    row-gap: 100px;
    
}
.header-caracteristicas {
    font-size: 50px;

}

.icons-position{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    text-align: center;
    font-size: 60px;
}
.icons-position p{
    font-size: 30px;
    
}
.galery img{
    width: 400px;
    height: 200px;
    
}
.galery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;

}
footer{
    height: auto;
    background-color: #1E1A13;
    

}
.footer{
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    padding: 40px;
}



